<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/index">{{ .Title }}</a>
        </div>
    </nav>

    <div class="container mt-4">
        {{ block "content" . }}
            <h1>{{ .Heading }}</h1>
            <p>This is a dummy HTML page.</p>
        {{ end }}
    </div>
</body>
</html>